@font-face {
  font-family: bebasBold;
  src: url('../fonts/BebasBold.ttf');
}

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  content: '';
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p,  a, img, strong, ul, li, form,
label, article, aside, footer, header, nav, section, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  vertical-align: baseline;
}

body::-webkit-scrollbar {
  display: none;
}

ul, li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.masthead {
  background: url("../images/background.jpg") no-repeat;
  background-color: #000;
  height: 500px;
  /*width: 100%;*/
  text-align: center;
  opacity: 0.9;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #0099e5;
  border: 1px solid #08c;
  text-shadow: 0px 1px 0px #08c;
}

.button:hover {
  background-color: #00a2f2;
}

.button-large {
  min-width: 250px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
}

.text-wrap {
  text-align: center;
  padding-top: 100px;

}

.text-wrap h1, .text-wrap h2 {
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.text-wrap h1 {
  margin-bottom: 25px;
  font-size: 48px;
}

.text-wrap h2 {
  margin-bottom: 80px;
  font-size: 28px;
}

.tab-wrapper {
  text-align: center;
  font-size: 26px;
  color: #aaaaaa;
  border-bottom: 1px solid #aaa;
  padding: 5px 0;
}

ul.tabs>li {
  display: inline;
  margin: 0 30px;
  position: relative;
}

ul.tabs>li>a{
  display: inline-block;
  font-size: 16px;
  padding: 15px 0;
  height: 50px;
  border-bottom: 2px solid transparent;
  color: #525558;
  white-space: nowrap;
  text-decoration: none;
}

.photo-container {
  background-color: #f7f8fa;
  padding-bottom: 100px;
  border-bottom: 1px solid #bbb;
}

.photo-grid {
  text-align: center;
}

.photo-grid .row {
  height: 380px;
  margin-bottom: 10px;
}

.photo-grid .row div {
  background-color: grey;
  margin-right: 10px;
  height: 380px;
  width: 600px;
  display: inline-block;
  overflow: hidden;
}

.button-container {
  text-align: center;
  margin-top: 70px;
}

.btn-bottom{
  background-color: #34bf49;
  border-color: #2fab41;
  text-shadow: 0px 1px 0px #2fab41;
}

footer {
  color: #888;
  text-align: center;
}

.main-nav {
  position: relative;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1000;
  background-color: #000;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  font-size: 14px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.left {
  float: left;
}

.profile {
  float: right;
}

.main {
  position: relative;
  float: left;
  display: block;
  height: 50px;
  margin-left: -10px;
  padding: 0 0 0 10px;
}

.logo {
  display: block;
  width: 100px;
  height: 45px;
  background: transparent url('../images/logo.png') center center no-repeat;
  float: left;
  margin: 3px 30px 0 0;
}

.top {
  position: relative;
}

.main-nav ul {
  position: relative;
  float: left;
  display: block;
  top: 0;
  font-size: 0;
}

.main-nav ul li:hover a strong {
  color: #fff;
}

.main-nav ul li:hover a .icon.upload {
   background: transparent url('../images/upload-hover.png') right bottom no-repeat;
}

.main-nav ul li:hover a .icon.gallery {
    background: transparent url('../images/gallery-hover.png') right bottom no-repeat;
}

.main-nav ul li {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
}

.main-nav ul li a{
  display: block;
  height: 100%;
  padding: 0 25px;
  font-weight: normal;
  letter-spacing: 0.025em;
  white-space: nowrap;
}

.main-nav a {
  text-decoration: none;
}

.main-nav strong{
  color: #b9c1c7;
}

.icon.gallery, .icon.upload {
  display: block;
  height: 18px;
  position: absolute;
  top: 15px;
}

.icon.upload {
  background: transparent url('../images/upload.png') right bottom no-repeat;
  top: 15px;
  left: -2px;
  width: 24px;
}

.icon.gallery {
  background: transparent url('../images/gallery.png') right bottom no-repeat;
  left: 3px;
  width: 18px;
}

strong.signup {
  background-color: #34bf49;
  color: #fff;border-radius: 3px;
  border-color: #2fab41;
  text-shadow: 0px 1px 0px #2fab41;
  padding: 5px 15px;
  font-weight: bold;
}

strong.signup:hover, .btn-bottom:hover, .submit-btn:hover{
  background-color: #37ca4d;
}


/*...*/
.field {
  height: 50px;
  text-align: left;
  width: 100%;
  background-color: #f7f8fa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b9c1c7;
  font-size: 20px;
  padding-left: 15px;
  color: #333;
}

.submit-btn {
  width: 100%;
  min-width: 250px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: #34bf49;
  border-color: #2fab41;
  text-shadow: 0px 1px 0px #2fab41;
}

.signup-wrap, .login-wrap {
  width: 40%;
  margin: 0 auto;
}

.signup-form-wrap, .login-form-wrap {
   margin-top: 50px;
   border: 2px solid #ccc;
   border-radius: 3px;
   text-align: center;
 }

.signup-form-wrap .top h1, .login-form-wrap .top h1{
  color: #525558;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.signup-form-wrap .top h2{
  color: #525558;
  text-transform: none;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 15px;
  padding: 0;
  text-align: left;
}

.signup-form-wrap .top, .login-form-wrap {
   padding: 40px 60px;
}

.signup-form-wrap li, .login-form-wrap li {
  margin-bottom: 15px;
}

.signup-form-wrap .bottom {
  text-align: left;
  background-color: #eee;
  padding: 10px  0 10px 60px;
}

.signup-form-wrap .bottom a {
  font-size: 14px;
  display: inline;
  color: #0099e5;
  text-decoration: none;
}

.signup-form-wrap .bottom p {
  margin-top: 1em;
  font-size: 12px;
  color: #71767a;
}

/*upload photo*/
.upload-photo {
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 3px;
  text-align: center;
  padding: 40px 60px;

}

.upload-photo .upload-btn {
  height: 80px;
}


.upload-photo .upload-btn label {
    width: 250px;
 }

.upload-photo .upload-btn input {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: auto;
  opacity: 0;
  -moz-opacity: 0;
}

.upload-photo h4 {
  color: #0099e5;
  font-weight: normal;
  margin-bottom: 10px;
}

.upload-photo input, .upload-photo select {
  font-size: 14px;
  padding: 8px 10px;
  color: #525558;
  border: 1px solid #ccc;
  width: 100%;
}

.upload-photo ul li {
  margin-bottom: 20px;
  text-align: left;
}

.upload-photo .submit-btn, #uploadbutton {
  width: 50%;
  height: 50px;
  float: right;

}

.upload-photo #uploadbutton {
  min-width: 250px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 0px #2fab41;
}

.upload-photo .buttons .cancel-btn{
  font-size: 14px;
  color: #71767a;
  padding: 5px;
  display: inline-block;
  line-height: 40px;
}

#img-to-upload {
  display: block;
  width: 120px;
  height: 60px;
  display: none;
  border: 1px solid #0099e5;
  border-radius: 3px;
}

/*gallery page*/
.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

.categories-container {
  position: relative;
  float: left;
  height: 580px;
  width: 20%;
  margin: 20px 20px 0 0;
  background-color: #f7f8fa;
  border: 1px solid #eeeff2;
  padding: 0 20px;
}

.categories-container h4{
  font-weight: bold;
  border-bottom: 1px solid #eeeff2;
  padding: 10px 5px;
  color: #888;
}

.categories-container ul li{
}

.categories-container ul li:hover a{
  background-color: #ccc;
}

.categories-container a {
  display: block;
  color: #555;
  font-size: 14px;
  padding: 5px;
}

.albums-container {
  float: right;
  min-height: 580px;
  width: 75%;
  margin: 20px auto;
}

.albums-container .album-info {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(149, 71, 229, 0.57);
  margin: 0 10px 10px 0;
  background: url("../images/img10.jpg") no-repeat;
  border-radius: 2px;
}

.albums-container .album-name {
  color: #fff;
  overflow: hidden;
  margin: 10px;
}

.albums-container .album-name strong {
  font-weight: normal;
  font-family: bebasBold, "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;;
  font-size: 30px;
  text-shadow: 1px 1px #777;;
}

.picture > a > img {
  margin: 10px 10px 0 0;
  float: right;
  width: 160px;
  height: 160px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px #b9c1c7;
}

/*album*/
#album-wrapper {
  float: right;
  width: 78%;
  margin-top: 20px;
}

#album-wrapper .photos-container {
  float: left;
  width: 75%;
}

#album-wrapper h1 {
  color: #0099e5;
  padding: 10px;
  border-top:1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#album-wrapper h1 span{
  color: #aaa;
  font-style: italic;
}

#comments {
  float: right;width: 25%;
}

/*comments*/
#comments-container {
  padding: 0 10px 10px 10px;
  font-size: 14px;
}

#comments-list {
  box-shadow: 0px 0px 1px 1px #ddd;
  overflow-y: scroll;
  height: 280px;
}

#comments-container .comment {
  border-bottom: 1px solid #ddd;
  margin: 10px;
}

#comments-container .comment-text {
  color: #0099e5;
  margin-bottom: 5px;
}

#comments-container .comment-info {
  font-style: italic;
  font-size: 12px;
  color: #777;
}

#comments-container .comment-info .author span{
  font-weight: bold;
  font-style: normal;
}

#comment-form {
  margin-top: 10px;
}

#comment-form label {
  color: #0099e5;
  font-size: 14px ;
  margin-bottom: 10px;
}

#comment-form input {
  font-size: 14px;
  padding: 8px 10px;
  color: #525558;
  border: 1px solid #ccc;
  width: 100%;
}

#comment-text {
  display: block;
  border: 1px solid #ccc;
}

#comment-form button {
  color: #fff;
  border-radius: 3px;
  padding: 5px 15px;
  font-weight: bold;
  background-color: #0099e5;
  border: 1px solid #08c;
  text-shadow: 0px 1px 0px #08c;
  cursor: pointer;
}

#comment-form input, #comment-text {
  margin-bottom: 10px;
}

/*footer*/

footer {
  position: relative;
  padding: 5px 0;
}

footer div {
  display: inline-block;
}

#footer-logo, #softuni-link {
  position: absolute;
}

#css-icon, #html-icon {
  border: 0;
  width: 55px;
  height: 20px;
}

#html-icon {
  top: 10px;
}

#footer-logo {
  left: 50px;
  top: 5px;
}

#softuni-link {
  right: 90px;
}